<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Path" value="" />
		<add key="Assembly" value="ExampleTournamentModule.dll" />
		<add key="Module" value="ExampleTournamentModule.AiModule" />
		<add key="Tournament" value="ExampleTournamentModule.TournamentModule" />
	</appSettings>
</configuration>
